In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
data = pd.read_csv('../Dados/credit_data.csv')
data

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data.query("income == 69995.6855783239")

In [ ]:
data['loan'].min()
data.query("loan == 1.37762959325451")

In [ ]:
data['default'].value_counts(normalize=True)

In [ ]:
sns.countplot(x=data['default']);

In [ ]:
plt.hist(x=data['age']);

In [ ]:
plt.hist(x=data['income']);

In [ ]:
plt.hist(x=data['loan']);

In [ ]:
grafico = px.scatter_matrix(data, dimensions=['age', 'income', 'loan'], color='default') # interessante esse color
grafico.show()

In [ ]:
data.query('age < 0')

In [ ]:
data2 = data.copy()
data2

In [ ]:
data2 = data2.drop(data.query("age < 0").index)
data2

In [ ]:
data2.query("age < 0")

In [ ]:
data['age'].mean() # cuidado pq aq ta levando em conta os valores negativos
value = data.query("age > 0")["age"].mean()

In [ ]:
data.loc[data["age"] < 0, 'age'] = value # uma maneira de lidar c/ valores negativos e precisa por 'age' no final p/ não atualizar a linha inteira, é tipo meu WHERE
data.query("age < 0")

In [ ]:
data.iloc[[15, 21, 26]] # agora estão corrigidos

In [ ]:
data.isna().sum()

In [ ]:
np.where(pd.isnull(data)) # retorna os indices aqui

In [ ]:
data['age']

In [ ]:
data['age'].iloc[28]
data['age'].iloc[30]
data['age'].iloc[31]

# agr vamos preencher esses caras seguindo a msm logica

In [ ]:
data.loc[data['age'] != np.nan].mean()
value = 40.927700

In [ ]:
data['age'].fillna(value=value, inplace=True)
data.isna().sum()

In [ ]:
# variavel previsora de x, variavel de classe y
x_credit = data.iloc[::, 1:4].values # .values?
type(x_credit)

In [ ]:
y_credit = data.iloc[:, 4].values
y_credit

In [ ]:
x_credit[::, 1]

In [ ]:
x_credit[::, 2]

In [ ]:
x_credit[::, 1].min()

In [ ]:
x_credit[::, 0].min(), x_credit[::, 1].min(), x_credit[::, 2].min()

In [ ]:
x_credit[::, 0].max(), x_credit[::, 1].max(), x_credit[::, 2].max()

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler_credit = StandardScaler()
x_credit = scaler_credit.fit_transform(x_credit)

In [ ]:
x_credit[::, 0].min(), x_credit[::, 1].min(), x_credit[::, 2].min()

In [ ]:
x_credit[::, 0].max(), x_credit[::, 1].max(), x_credit[::, 2].max()